/* google font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

:root {
   --color-pri: #2091f9;

   --color-text: #252b42;
   --color-text-sec: #374754;
   --color-text-light: #ffffff;

   --color-bg-dark: #252b42;
   --color-bg-light: #ffffff;

   --default-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   font-size: 62.5%;

   scroll-behavior: smooth;
   scroll-padding-top: 1rem;
}

body {
   font-family: "Inter", sans-serif;
   font-size: 1.6rem;
   line-height: 1;
   box-sizing: border-box;

   background: var(--color-bg-dark);
}

/*---------- header css ----------*/

header {
   width: 100%;
   height: 95vh;
   margin-bottom: 13rem;
   background-image: linear-gradient(
         to bottom,
         rgba(0, 0, 0, 0.3) 20%,
         rgba(9, 151, 255, 0.56) 50%
      ),
      url(images/header-bg-1.jpg);
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   clip-path: polygon(0 0, 100% 0%, 100% 85%, 50% 100%, 0 85%);

   display: flex;
   justify-content: center;
   align-items: center;
}

.container-header {
   width: 100rem;
   height: 100%;
   position: relative;
}

.nav {
   display: flex;
   position: absolute;
   top: 4rem;
   left: 0;
}

.nav li {
   list-style: none;
   margin-right: 3rem;
   font-size: 1.5rem;
}
.nav li a {
   text-decoration: none;
   color: var(--color-text-light);
   padding: 0.5rem 0;
   position: relative;
}

.nav li a::after {
   content: "";
   display: block;
   width: 100%;
   height: 2px;
   background: #ffffff;
   position: absolute;
   top: 100%;
   transform: scaleX(0);
   transition: 0.5s;
}

.nav li a:hover::after {
   transform: scale(1);
}

.intro {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 762px;
   margin: 0 auto;
   text-align: center;
   color: var(--color-text-light);
}

.heading-primary {
   font-size: 7rem;
   font-weight: 700;
   line-height: 1.1;
}

.intro-text {
   font-size: 2.5rem;
   margin-top: 1rem;
   margin-bottom: 6rem;
   line-height: 1.5;
}

.btn {
   color: var(--color-pri);
   background: var(--color-bg-light);
   padding: 1.5rem 4rem;
   border-radius: 30px;
   border: 0;
   font-family: inherit;
   font-size: 2rem;
   cursor: pointer;
   box-shadow: var(--default-shadow);
   transition: all 0.3s;
}

.btn:hover,
.btn:active {
   transform: translateY(-5px);
}

main {
   display: flex;
   justify-content: center;
   align-items: center;
}

.container {
   width: 100rem;
   position: relative;
}

.features {
   margin-bottom: 13rem;

   display: flex;
   flex-direction: column;
   align-items: center;
}

.features-texts {
   width: 60rem;
   text-align: center;
   margin: 0 auto;
}

.heading-secondary {
   font-size: 4.5rem;
   color: var(--color-text-light);
}

.features-text {
   margin-top: 1rem;
   font-size: 2.5rem;
   margin-top: 1rem;
   margin-bottom: 9rem;
   line-height: 1.5;
   color: var(--color-text-light);
}

.feature-boxes {
   width: 90rem;
   display: flex;
   gap: 50px;
   margin-bottom: 13rem;
}

.feature {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   color: var(--color-text-light);
   width: 33.333%;
}

.feature-icon {
   height: 61px;
   width: 61px;
}

.heading-tartiary {
   font-size: 2rem;
   margin: 2rem 0;
}

.feature-text {
   font-size: 1.4rem;
}

.feature-video {
   /* width: 110rem;
   height: 70rem; */
   display: flex;
   justify-content: center;
}

.feature-video video {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 20px;
}

/* try section css  */

.try-section {
   /* width: 110rem;
   height: 70rem; */
   display: flex;
   align-items: center;
   gap: 5rem;

   margin-bottom: 13rem;
}

.try-texts-text {
   margin-top: 1rem;
   font-size: 2.5rem;
   margin-top: 1rem;
   line-height: 1.5;
   color: var(--color-text-light);
   margin: 3rem 0;
}

.try-img img {
   width: 100%;
}

/* newsletter section css */

.newsletter {
   margin-bottom: 13rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 5rem;
}

.newsletter-image {
   width: 50%;
}

.newsletter-image img {
   width: 100%;
}

.newsletter-form {
   color: var(--color-text-light);
   width: 40%;
}

.newsletter-form h4 {
   margin-bottom: 0.5rem;
}

.newsletter-form .heading-secondary {
   margin-bottom: 3rem;
}

.newsletter-form p {
   margin-bottom: 3rem;
   font-size: 1.4rem;
}

.newsletter-form input {
   padding: 1.5rem 4rem 1.5rem 2rem;
   border: 0;
   border-radius: 25px;
   font-size: 1.6rem;
   caret-color: var(--color-pri);
   color: var(--color-pri);
}

.newsletter-form input:focus {
   outline: none;
}

.newsletter-btn {
   font-size: 1.6rem;
   background: var(--color-pri);
   color: var(--color-text-light);
   padding: 1.4rem 3rem;
}

/* pricing css */

.pricing {
   margin-bottom: 13rem;
}

.pricing-texts {
   width: 60rem;
   text-align: center;
   margin: 0 auto;
}

.pricing-text {
   margin-top: 1rem;
   font-size: 2.5rem;
   margin-top: 1rem;
   margin-bottom: 9rem;
   line-height: 1.5;
   color: var(--color-text-light);
}

.pricing-cards {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 3rem;
}
.pricing-card {
   background: var(--color-bg-light);
   text-align: center;
   padding: 3rem;
   border-radius: 10px;
   transition: all 0.3s;
}

.pricing-card:hover {
   transform: translateY(-1rem);
}

.card-popular {
   padding: 5rem 3rem;
   background: var(--color-pri);
   color: var(--color-text-light);
}

.pricing-card h3 {
   margin-bottom: 1rem;
}

.pricing-card-text {
   width: 15rem;
   margin: 0 auto;
   margin-bottom: 2rem;
}

.price {
   margin-bottom: 2rem;

   display: flex;
   justify-content: center;
   align-items: center;
}

.price p {
   text-align: left;
   margin-left: 1rem;
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}

.pricing-feature {
   margin-bottom: 2rem;
}

.pricing-btn {
   margin-top: 1rem;
   font-size: 1.6rem;
   background: var(--color-pri);
   color: var(--color-text-light);
   padding: 1.4rem 6rem;
}

.card-popular .pricing-btn {
   background: var(--color-bg-light);
   color: var(--color-pri);
}

/* contact css */

.contact {
   margin-bottom: 13rem;
}

.contatct-content {
   display: flex;
   align-items: center;
   gap: 5rem;
}

.contact-form form {
   background: var(--color-bg-light);
   padding: 4rem 2.5rem;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 2rem;
}

.contact-form form input,
.contact-form form textarea {
   background: #f5f5f5;
   font-size: 1.5rem;
   border: 0;
   border-radius: 40px;
   padding: 1.5rem 3rem 1.5rem 1rem;
   border: 2px solid transparent;
   font-family: inherit;
   transition: all 0.3s;
}

.contact-form form input:focus,
.contact-form form textarea:focus {
   outline: none;
   border: 2px solid var(--color-pri);
}

.contact-form form input {
   align-self: stretch;
}

.contact-form form textarea {
   border-radius: 0;
}

.contact-btn {
   background: var(--color-pri);
   color: var(--color-text-light);
}

.contact-icons {
   text-align: center;
   margin-bottom: 5rem;
   display: flex;
   gap: 2rem;
   color: var(--color-text-light);
}

.contact-icons svg {
   width: 25px;
   fill: var(--color-bg-dark);
   stroke: var(--color-pri);
}

.map img {
   width: 100%;
}

/* footer css */

footer {
   margin-bottom: 13rem;
   display: flex;
   justify-content: center;
}
.footer-nav {
   display: flex;
   width: max-content;
   margin: 0 auto;
}
.footer-nav li {
   list-style: none;
   margin-right: 3rem;
}
.footer-nav li a {
   text-decoration: none;
   color: var(--color-text-light);
   font-size: 3rem;
   transition: all 0.3s;
}

.footer-nav li a:hover {
   color: var(--color-pri);
}

.hr {
   border: 1px solid var(--color-text-sec);
   padding: 0 5rem;
   margin: 3rem 0;
}

footer p {
   text-align: center;
   color: var(--color-text-light);
}
footer p a {
   display: inline-block;
   text-decoration: none;
   color: var(--color-pri);
   transition: all 0.3s;
}

footer p a:hover {
   transform: rotate(10deg) scale(1.1);
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.footer-text {
   margin-top: 3rem;
   column-count: 2;
   column-rule: 1px solid var(--color-text-sec);
   column-gap: 3rem;
}
