/* google font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

:root {
    --color-pri: #2091F9;

    --color-text: #252B42;
    --color-text-sec: #374754;
    --color-text-light: #ffffff;

    --color-bg-dark: #252B42;
    --color-bg-light: #ffffff;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    line-height: 1;
    box-sizing: border-box;
}